<!DOCTYPE html>
<html>
	<head>
		<title>Log In</title>
	</head>
	<body>
		<a href="/">뒤로가기</a>
		<h2>로그인하기</h2>
		<form action="/login" method="post" enctype="application/x-www-form-urlencoded">
			<input type="text" name="email" placeholder="email" /><br>
			<input type="password" name="password" placeholder="password" /><br>
			<input type="submit" value="Log In" />
		</form>
	</body>
</html>
