<!DOCTYPE html>
<html>
	<head>
		<title>Sign Up</title>
	</head>
	<body>
		<a href="/">뒤로가기</a>
		<h2>가입하기</h2>
		<form action="/signup" method="post" enctype="application/x-www-form-urlencoded">
			<input type="text" name="username" placeholder="username" /><br>
			<input type="text" name="email" placeholder="email" /><br>
			<input type="password" name="password" placeholder="password" /><br>
			<input type="submit" value="Sign Up" />
		</form>
	</body>
</html>
